body {
  background: #bdc3c7;
}

h2 {
  color: orange;
}
h1 {
  color: #9b59b6;
}
li {
  color: blue;
}
p {
  background: yellow;
}
input {
  border: 3px solid;
  color: red;
}
ul {
  border: red solid;
}
.hello {
  color: #bdc3c7;
}
div {
  font-size: 25px;
}
