td {
  width: 100px;
  height: 100px;
  /*  background-color: aquamarine;*/
}
.downline {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.crossup {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
