h1 {
  font-family: arial black;
}
h1 {
  font-size: 50px;
}
p {
  font-family: "georia";
}
span {
  font-size: 2em;
}
p {
  font-weight: 400;
}

body {
  border: #bdc3c7;

  border: 20px solid #bdc3c7;
  padding: 10%;
  max-width: 700px; width: 80; margin: 20px auto;
}
h2 {
  color: #2c3e50;
}
#date {
  color: #3498db;
}
1