h3 {
  color: green;
}

body {
  background-image: url(imae/jamb\ re.png);
  background-repeat: repeat-1;
  background-size: cover;
}
a {
  color: skyblue;
  border-width: 3px;
}

2025 (c) JAMB CBT EXAMMINATION {
}

3 {
  color: green;
}
